
{% extends 'base.html' %}

{% block head_title %}{{ title }} | {{ block.super }}{% endblock head_title %}


{% block content %}

<div class="col-sm-6 offset-sm-3">
<h1>{{ title }}</h1>
<h2><a href="{% url 'post:create' %}">Create Post</a><br></h2>



{% for obj in objects_list %}

<div class="card">
	{% if obj.image %}
  <img class="card-img-top img-fluid" src="{{ obj.image.url }}" alt="Card image cap">
  {% endif %}
  <div class="card-body post-detail">
    <h2 class="card-title">{{ obj.title }} <small>{% if obj.draft %}<span style="color:red"> Draft </span>{% endif %} {{ obj.publish }}</small></h2>
    <p class="card-text">{{ obj.get_markdown|linebreaks|truncatechars_html:10 }}</p>
    <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">View</a>
    <p class="card-text">Author: {{ obj.user }}</p>
  </div>
</div>
<br>
{% endfor %}

<div class="paginator">
	<span class="step-link">
		{% if objects_list.has_previous %}
		<a href="?page={{ objects_list.previous_page_number }}">Previous</a>
		{% endif %}

		Page {{ objects_list.number }} of {{ objects_list.paginator.num_pages }}

		{% if objects_list.has_next %}
		<a href="?page={{ objects_list.next_page_number }}">Next</a>
		{% endif %}
	</span>
</div>

</div>
{% endblock content %}


