{% extends 'base.html' %}
{% load crispy_forms_tags %}


	{% block head_title %}{{ title }}|{{ block.super }}{% endblock head_title %}

{% block head_extra %} 
   
	{{ form.media }}
    
{% endblock head_extra %}


{% block style %}

.wmd-panel {
	margin-left: 0;
	margin-right: 0;
}

 {% endblock style %}

{% block content %}

<div class="row">
<div class="col-sm-6">
<h1>Preview Form:</h1>
<div class="content-preview">
	<h3 id="preview-title"></h3>
	<p id="preview-content"></p>
</div>
	
</div>

<div class="col-sm-6">
<h1>Create Form:</h1>

<form  method="POST" action="" enctype="multipart/form-data">
{% csrf_token %}	
	{{ form|crispy }}
<input type="submit" class="btn btn-default" name="Save">
</form>	
</div>
</div>
{% endblock content %}